.icons {
  max-width: 40px;
  max-height: 40px;
}

.mainContainer {
  position: relative;
  top: 80px;
  display: flex;
}

.rightContainer {
  min-width: 20%;
  padding-left: 2%;
}

.button {
  display: flex;
  justify-content: center;
  max-width: 120px;
  height: 60px;
  align-items: center;
  border-radius: 8px;
  margin: 5% 0;
}
