.main {
  display: flex;
  margin-top: 6%;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.img {
  width: 15%;
  width: 15%;
}
.imgContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 10px;
}
