/* TODO Add site wide styles */

* {
  box-sizing: border-box;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #5c6b73;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
}
.content-wrapper {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row-reverse;
}
input {
  border: none;
  border-radius: 1rem;
  padding-left: 1rem;
  background-color: #c8b8db;
}

textarea {
  border: none;
  border-radius: 1rem;
  padding-left: 1rem;
  background-color: #c8b8db;
}

button {
  border: none;
  cursor: pointer;
  background-color: #5c6b73;
  color: white;
}

button:hover {
  background-color: #231123;
}
